<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.bmartel.droidphoneevent">

    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

</manifest>
